@model List<ResumeWebsite.ViewModels.Marathon>

<div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Marathon</div>
    @foreach(var item in Model)
    {
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary">
                    <div class="card-body cc-experience-header">
                        <div class="h5">
                            <i class="fa fa-map-marker"></i> <span> @item.Location</span>
                        </div>
                        <div class="h5">
                            <i class="fa fa-calendar"></i> <span> @item.Date</span>
                        </div>
                        <div class="h5">
                            <i class="fa fa-clock-o"></i> <span> @item.TimeTaken</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@item.Div01"/>
                </div>
                @if (item.Div02.Contains("pdf") || item.Div02.Contains("https:")){
                    <div class="col-md-5">
                        <embed src="@item.Div02#toolbar=0" type="application/pdf" width="100%" height="100%"/>
                    </div>
                }
                else{
                    <div class="col-md-5">
                        <img src="@item.Div02"/>
                    </div>
                }
                </div>
        </div>
    }
</div>