@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model ResumeWebsite.Pages.PersonalProfileModel
@{
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kuldeep Singh - Azure Consultant, DevOps, Data Engineer</title>
    <meta name="description" content="Passionate lead/developer having experience in consulting, designing, developing and delivering solutions to enterprises using Microsoft Azure Technologies. Azure, SQLAzure, CosmosDB, AzureDataFactory, WebApp" />
    <meta name="keywords" content="Azure, SQLAzure, CosmosDB, AzureDataFactory, WebApp, Data Engineer, Azure Certified Cloud Consultant">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

  <body>

      <div class="page-content">
        <div>
            <div class="profile-page fixed-top" style="height:220px;">
                <div class="page-header-pp">
                    <div class="page-header-image" style="background-image: url('images/cloudbanner.jpg');"></div>
                    
                    <div class="container" style="height:220px;">
                        <div class="row">
                            <div class="content-center col-md-3">
                                <div class="cc-profile-image"><a href="#"><img src="images/kd.jpg" alt="Image" /></a></div>
                            </div>
                            <div class="content-center col-md-3 d-none d-md-block" style="padding-top:30px;">
                                <div class="h2">Kuldeep Singh</div>
                            </div>
                            <div class="col-md-2 d-none d-md-block">
                                <button class="tablink" onclick="openTab('tabIN', this, '#236bff')" id="defaultOpen">India</button>  
                                <button class="tablink" onclick="openTab('tabUSA', this, 'green')" >USA</button>
                                <button class="tablink" onclick="openTab('tabUK', this, '#236bff')">UK</button>
                                <button class="tablink" onclick="openTab('tabNL', this, '#236bff')">Netherlands</button>  
                            </div>
                            <div class="col-md-2 d-none d-md-block">
                                <button class="tablink" onclick="openTab('tabUAE', this, '#236bff')">UAE</button>  
                                <button class="tablink" onclick="openTab('tabDE', this, 'green')" >Germany</button>
                                <button class="tablink" onclick="openTab('tabFR', this, '#236bff')">France</button>
                                <button class="tablink" onclick="openTab('tabSEA', this, '#236bff')">SEA</button>  
                            </div>
                            <div class="col-md-2 d-none d-md-block">
                                <button class="tablink" onclick="openTab('tabTL', this, '#236bff')">Timeline</button>
                                <button class="tablink" onclick="openTab('tabM', this, '#236bff')">Marathon</button>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div style="padding-top:220px;">                
            </div>

            @*Tab: India*@
            <div class="section tabcontent-pp" id="tabIN">
                <div class="container cc-experience">
                    <div class="h4 text-center mb-4 title">India</div>
                    
                    @foreach(var item in Model.IndiaData)
                    {
                        <div class="card col-md-3">  
                            <div class="bg-primary">
                                <div>
                                    <img src="@item.Div01" />
                                </div>
                                <div class="card-body-pp cc-experience-header-pp">
                                    <div class="h6">
                                        <i class="fa fa-map-marker"></i> <span> @item.Location</span>
                                    </div>
                                    <div class="h6">
                                        <i class="fa fa-calendar"></i> <span> @item.Date</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            @*Tab: USA*@
            <div class="section tabcontent-pp" id="tabUSA">
                <div class="container cc-experience">
                    <div class="h4 text-center mb-4 title">USA</div>
                    
                    @foreach(var item in Model.IndiaData)
                    {
                        <div class="card col-md-3">  
                            <div class="bg-primary">
                                <div>
                                    <img src="@item.Div01" />
                                </div>
                                <div class="card-body-pp cc-experience-header-pp">
                                    <div class="h6">
                                        <i class="fa fa-map-marker"></i> <span> @item.Location</span>
                                    </div>
                                    <div class="h6">
                                        <i class="fa fa-calendar"></i> <span> @item.Date</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            @*Tab: UK*@
            <div class="section tabcontent-pp" id="tabUK">
                <div class="container cc-experience">
                    <div class="h4 text-center mb-4 title">UK</div>
                    
                    @foreach(var item in Model.UKData)
                    {
                        <div class="card col-md-3">  
                            <div class="bg-primary">
                                <div>
                                    <img src="@item.Div01" />
                                </div>
                                <div class="card-body-pp cc-experience-header-pp">
                                    <div class="h6">
                                        <i class="fa fa-map-marker"></i> <span> @item.Location</span>
                                    </div>
                                    <div class="h6">
                                        <i class="fa fa-calendar"></i> <span> @item.Date</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            @*Tab: Netherlands*@
            <div class="section tabcontent-pp" id="tabNL">
                <div class="container cc-experience">
                    <div class="h4 text-center mb-4 title">Netherlands</div>
                    
                    @foreach(var item in Model.IndiaData)
                    {
                        <div class="card col-md-3">  
                            <div class="bg-primary">
                                <div>
                                    <img src="@String.Format(item.Div01, @Configuration["BlobURL"], @Configuration["SASToken"])" />
                                </div>
                                <div class="card-body-pp cc-experience-header-pp">
                                    <div class="h6">
                                        <i class="fa fa-map-marker"></i> <span> @item.Location</span>
                                    </div>
                                    <div class="h6">
                                        <i class="fa fa-calendar"></i> <span> @item.Date</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            @*Tab: Germany*@
            <div class="section tabcontent-pp" id="tabDE">
                <div class="container cc-experience">
                    <div class="h4 text-center mb-4 title">Germany</div>
                    
                </div>
            </div>

            @*Tab: UAE*@
            <div class="section tabcontent-pp" id="tabUAE">
                <div class="container cc-experience">
                    <div class="h4 text-center mb-4 title">UAE</div>
                    
                </div>
            </div>

            @*Tab: France*@
            <div class="section tabcontent-pp" id="tabFR">
                <div class="container cc-experience">
                    <div class="h4 text-center mb-4 title">France</div>
                    
                </div>
            </div>

            @*Tab: SEA*@
            <div class="section tabcontent-pp" id="tabSEA">
                <div class="container cc-experience">
                    <div class="h4 text-center mb-4 title">SEA</div>
                    
                </div>
            </div>

            @*Tab: Timeline*@
            <div class="section tabcontent-pp" id="tabTL">
                <div class="container cc-experience">
                    <div class="h4 text-center mb-4 title">Timeline</div>
                    
                </div>
            </div>

            @*Tab: Marathon*@
            <div class="section tabcontent-pp" id="tabM">
                <div class="container cc-experience">
                    <div class="h4 text-center mb-4 title">Marathon</div>
                    @foreach(var item in Model.MarathonData)
                    {
                        <div class="card">
                            <div class="row">
                                <div class="col-md-3 bg-primary">
                                    <div class="card-body cc-experience-header">
                                        <div class="h5">
                                            <i class="fa fa-map-marker"></i> <span> @item.Location</span>
                                        </div>
                                        <div class="h5">
                                            <i class="fa fa-calendar"></i> <span> @item.Date</span>
                                        </div>
                                        <div class="h5">
                                            <i class="fa fa-clock-o"></i> <span> @item.TimeTaken</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    Coming soon...
                                </div>
                                <div class="col-md-5">
                                    <embed height="550" width="400" src="@String.Format(item.Div02, @Configuration["BlobURL"], @Configuration["SASToken"])" />
                                </div>
                             </div>
                        </div>
                    }
                </div>
            </div>

            <div class="section">
                <div class="container cc-education">
                    <div class="container text-center">
                        <a class="cc-facebook btn btn-link" target="_new" href="https://www.facebook.com/in.singhkuldeep/"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a>
                        <a class="cc-twitter btn btn-link " target="_new" href="#"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a>
                        <a class="cc-google-plus btn btn-link" target="_new" href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
                        <a class="cc-instagram btn btn-link" target="_new" href="https://www.instagram.com/kuldeep.singh.k/"><i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a>
                    </div>
                    <div class="h4 title text-center">Kuldeep Singh</div>
                </div>
            </div>
        </div>
    </div>

      <div class="row">
        @*<div class="col-md-3">
            <div class="sticky-top">
            <div class="cc-profile-image text-center"><a href="#"><img src="images/kd.jpg" alt="Image" /></a></div>
       
            <button class="tablink" onclick="openTab('tab01', this, '#236bff')" id="defaultOpen">Marathon</button>  
            <button class="tablink" onclick="openTab('tab02', this, 'green')" >Around the world</button>
            <button class="tablink" onclick="openTab('tab03', this, '#236bff')">Coming Soon ...</button>

            </div>
        </div>*@
    </div>
  </body>
</html>          

<script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>