@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model ResumeWebsite.Pages.PersonalProfileModel
@{
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kuldeep Singh - Azure Consultant, DevOps, Data Engineer</title>
    <meta name="description" content="Passionate lead/developer having experience in consulting, designing, developing and delivering solutions to enterprises using Microsoft Azure Technologies. Azure, SQLAzure, CosmosDB, AzureDataFactory, WebApp" />
    <meta name="keywords" content="Azure, SQLAzure, CosmosDB, AzureDataFactory, WebApp, Data Engineer, Azure Certified Cloud Consultant">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body id="top">
    <header>
        <div class="profile-page sidebar-collapse">
            <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
                <div class="container">

                </div>
            </nav>
        </div>
    </header>
    <div class="page-content">
       
        <div class="profile-page" style="height:300px;">
            <div class="wrapper">
                <div class="page-header page-header-small">
                    <div class="page-header-image" style="background-image: url('images/cloudbanner.jpg');"></div>
                    <div class="container" style="height:300px;">
                        <div class="content-center">
                            <div class="cc-profile-image"><a href="#"><img src="images/kd.jpg" alt="Image" /></a></div>
                            <div class="h2 title">Kuldeep Singh</div>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container cc-experience">
                @*<div class="h4 text-center mb-4 title">Marathon Certificates</div>*@
                
                <button class="tablink" onclick="openCity('tab01', this, '#236bff')" id="defaultOpen">Marathon</button>
                <button class="tablink" onclick="openCity('tab02', this, 'green')" >Around the world</button>
                <button class="tablink" onclick="openCity('tab03', this, '#236bff')">Coming Soon ...</button>

                <div id="tab01" class="card tabcontent">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-body">
                                <embed height="550" width="400" src="@String.Format("{0}/H14_Hyderabad2018.pdf{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <embed height="550" width="400" src="@String.Format("{0}/H13_Delhi2017.pdf{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-body">
                                <embed height="550" width="400" src="@String.Format("{0}/H12_Hyderabad2017.pdf{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <embed height="550" width="400" src="@String.Format("{0}/H11_Pune.jpg{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-body">
                                <embed height="550" width="400" src="@String.Format("{0}/H10_Hyderabad.pdf{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <embed height="550" width="400" src="@String.Format("{0}/H09_Delhi_291115.pdf{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-body">
                                <embed height="550" width="400" src="@String.Format("{0}/H08_Gurgoan_011115.pdf{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <embed height="550" width="400" src="@String.Format("{0}/H07_Hyderabad_300815.pdf{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-body">
                                Certificate Not available.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <embed height="550" width="400" src="@String.Format("{0}/H05_Pune_100515.pdf{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-body">
                                <embed height="550" width="400" src="@String.Format("{0}/H04_Kundalika_28052015.pdf{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <embed height="550" width="400" src="@String.Format("{0}/H03_Pune_071214.pdf{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-body">
                                <embed height="550" width="400" src="@String.Format("{0}/H02_Hyderabad_240814.pdf{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <embed height="550" width="400" src="@String.Format("{0}/H01_Mumbai_160214.pdf{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-body">
                                <embed height="550" width="400" src="@String.Format("{0}/10k02_Pune_30mar14.png{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <embed height="550" width="400" src="@String.Format("{0}/10k01_Pune_01dec13.pdf{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-body">
                                <embed height="550" width="400" src="@String.Format("{0}/10k03_Hyderabad_27nov16.pdf{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                        </div>
                            
                    </div>
                </div>

                <div id="tab02" class="tabcontent">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-3 bg-primary">
                                <div class="card-body cc-experience-header">
                                    <p>Jan 2016</p>
                                    <div class="h5">Barcelona</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <embed height="550" width="400" src="@String.Format("{0}/H11_Pune.jpg{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                            <div class="col-md-5">
                                <embed height="550" width="400" src="@String.Format("{0}/H11_Pune.jpg{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-3 bg-primary">
                                <div class="card-body cc-experience-header">
                                    <p>Aug 2015</p>
                                    <div class="h5">USA</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <embed height="550" width="400" src="@String.Format("{0}/H11_Pune.jpg{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                            <div class="col-md-5">
                                <embed height="550" width="400" src="@String.Format("{0}/H11_Pune.jpg{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-3 bg-primary">
                                <div class="card-body cc-experience-header">
                                    <p>Jul 2015</p>
                                    <div class="h5">Germany</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <embed height="550" width="400" src="@String.Format("{0}/H11_Pune.jpg{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                            <div class="col-md-5">
                                <embed height="550" width="400" src="@String.Format("{0}/H11_Pune.jpg{1}", @Configuration["BlobURL"], @Configuration["SASToken"])" />
                            </div>
                        </div>
                </div>
                <div id="tab03" class="tabcontent">
                    this is tab 03
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container cc-education">
                <div class="container text-center">
                    <a class="cc-facebook btn btn-link" target="_new" href="https://www.facebook.com/in.singhkuldeep/"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a>
                    <a class="cc-twitter btn btn-link " target="_new" href="#"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a>
                    <a class="cc-google-plus btn btn-link" target="_new" href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
                    <a class="cc-instagram btn btn-link" target="_new" href="https://www.instagram.com/kuldeep.singh.k/"><i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a>
                </div>
                <div class="h4 title text-center">Kuldeep Singh</div>
            </div>
        </div>
       
    </div>
</body>
<script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
</html>
